<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
		  <rules>
			<rule name="React Routes" stopProcessing="true">
			  <match url=".*" />
			  <conditions logicalGrouping="MatchAll">
				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
			  </conditions>
			  <action type="Rewrite" url="/" />
			</rule>
		  </rules>
		</rewrite>
		<httpProtocol>
		  <customHeaders>
			<add name="X-Content-Type-Options" value="nosniff"/>
			<add name="X-Xss-Protection" value="1; mode=block"/>
			<add name="X-Frame-Options" value="SAMEORIGIN"/>
			<add name="Referrer-Policy" value="no-referrer-when-downgrade"/>
		  </customHeaders>
		</httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
