body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a.nav-link:link,
a.nav-link:visited,
a.nav-link:focus,
a.nav-link:hover,
a.nav-link:active {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

a.app-link:link,
a.app-link:visited,
a.app-link:focus,
a.app-link:hover,
a.app-link:active {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.main-content {
    margin: 10px;
    min-height: calc(100vh - 100px);
    text-align: center;
}

.loadable-container {
    position: relative;
}

.fancy-nav {
    font-family: 'Rye', Roboto, Arial, Helvetica, sans-serif;
}

.drink-image-container {
    margin-bottom: 10px;
    margin-top: 10px;
}

.drink-image {
    background-color: #ffffff;
    padding: 5px;
}
