* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 0;
}

a.nav-link:link,
a.nav-link:visited,
a.nav-link:focus,
a.nav-link:hover,
a.nav-link:active {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

a.app-link:link,
a.app-link:visited,
a.app-link:focus,
a.app-link:hover,
a.app-link:active {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.main-content {
    margin: 10px;
    min-height: calc(100vh - 100px);
    text-align: center;
}

.drink-image {
    margin-top: 20px;
    text-align: center;
}

.fancy-nav {
    font-family: 'Rye', 'Berkshire Swash', Roboto, Arial, Helvetica, sans-serif;
}
